In [196]:
import csv
import json
import pandas as pd

In [174]:
st = '{"complete": true,"volume": 1,"time": "2019-10-31T00:00:15.000000000Z","b_o": "1.11529","b_h": "1.11529","b_l": "1.11529","b_c": "1.11529","a_o": "1.11542","a_h": "1.11542","a_l": "1.11542","a_c": "1.11542"},'
st= '[{"complete": true,"volume": 13,"time": "2019-10-31T00:00:00.000000000Z","b_o": "1.11517","b_h": "1.11529","b_l": "1.11517","b_c": "1.11527","a_o": "1.11531","a_h": "1.11544","a_l": "1.11531","a_c": "1.11539"},'

In [173]:
st.strip(',[]')

'{"complete": true,"volume": 13,"time": "2019-10-31T00:00:00.000000000Z","b_o": "1.11517","b_h": "1.11529","b_l": "1.11517","b_c": "1.11527","a_o": "1.11531","a_h": "1.11544","a_l": "1.11531","a_c": "1.11539"}'

In [102]:
json_acceptable_string = st.replace("'", "\"")
d = json.loads(json_acceptable_string)
json.loads(st)
pd.DataFrame(d)

ValueError: If using all scalar values, you must pass an index

In [138]:
orig = pd.DataFrame(columns = ["complete","volume","time","b_o","b_h","b_l","b_c","a_o","a_h","a_l","a_c"])
new_line = pd.DataFrame(pd.read_json(st, typ = 'series').to_dict(), index = [0])#.set_index('time')
for i in range(5):
    orig = orig.append(new_line, ignore_index = True)
orig.set_index('time')

,complete,volume,b_o,b_h,b_l,b_c,a_o,a_h,a_l,a_c
time,,,,,,,,,,
2019-10-31T00:00:15.000000000Z,True,1,1.11529,1.11529,1.11529,1.11529,1.11542,1.11542,1.11542,1.11542
2019-10-31T00:00:15.000000000Z,True,1,1.11529,1.11529,1.11529,1.11529,1.11542,1.11542,1.11542,1.11542
2019-10-31T00:00:15.000000000Z,True,1,1.11529,1.11529,1.11529,1.11529,1.11542,1.11542,1.11542,1.11542
2019-10-31T00:00:15.000000000Z,True,1,1.11529,1.11529,1.11529,1.11529,1.11542,1.11542,1.11542,1.11542
2019-10-31T00:00:15.000000000Z,True,1,1.11529,1.11529,1.11529,1.11529,1.11542,1.11542,1.11542,1.11542
2019-10-31T00:00:15.000000000Z,True,1,1.11529,1.11529,1.11529,1.11529,1.11542,1.11542,1.11542,1.11542
2019-10-31T00:00:15.000000000Z,True,1,1.11529,1.11529,1.11529,1.11529,1.11542,1.11542,1.11542,1.11542
2019-10-31T00:00:15.000000000Z,True,1,1.11529,1.11529,1.11529,1.11529,1.11542,1.11542,1.11542,1.11542
2019-10-31T00:00:15.000000000Z,True,1,1.11529,1.11529,1.11529,1.11529,1.11542,1.11542,1.11542,1.11542
2019-10-31T00:00:15.000000000Z,True,1,1.11529,1.11529,1.11529,1.11529,1.11542,1.11542,1.11542,1.11542

In [140]:
fp = open("../tmp/EUR_USD_S15_fix2.json", 'r')

In [198]:
def parse_file(filepath):

    data = pd.DataFrame(columns = ["complete","volume","time","b_o","b_h","b_l","b_c","a_o","a_h","a_l","a_c"])
    # open the file and read through it line by line
    with open(filepath, 'r+') as file_object:
        line = file_object.readline()
        while line:
            st = line.rstrip()
            st = st.strip(",[] ")
            new_line = pd.DataFrame(pd.read_json(st, typ = 'series').to_dict(), index = [0])
            data = data.append(new_line, ignore_index = True)

    return data

In [ ]:
filepath =  "../tmp/EUR_USD_S15_fix2.txt"
df = parse_file(filepath)

In [ ]:
df